
  

  body {
    background: url('/assets/images/DCE_bg.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh; 
    overflow: hidden; 
  }
  
  